{% extends '@EasyAdmin/layout.html.twig' %}

{% block body_id 'dashboard' %}

{% block main %}
    <h1 class="page-title">Informační systém BBK Blansko</h1>

    <p class="description">
        TODO
    </p>
{% endblock %}